p, h3 {
  margin: 0;
}

input[type=text] {
  height: 19px;
}

.App > header {
  margin: 20px;
  margin-bottom: 40px;
}

.App > header > div {
  display: flex;
}

.App > header > div > h3 {
  width: 150px;
}

.App > header > div > p {
  margin: 0 5px 0 24px;
}

.App > content > article {
  margin: 20px;
}

.App > content > article > header,
.App > content > article > footer {
  display: flex;
}

.App > content > article > header > *,
.App > content > article > footer > * {
  margin-right: 5px;
}